html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  min-width: 100%;
}

body {
  margin-bottom: 60px;
}
.img-thumbnail {
    width: 200px;
    padding: 5px;
    height: 200px;
}
.img-thumbnail:hover {
        width: 200px;
        padding: 0px;
}
button, input[type="submit"] {
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;

}
.container {
    display: inline-flex;
    max-width: 100%;
}
.column {

    width: 50%;

}


.row::after {
    content: "";
    clear: both;
    display: table;
}
.text-primary 
{
    cursor: pointer;
}
button{
   margin-right: 10px;
}
.DetailImage {
   width:1025px;
}
.box {
    display: inline-flex;
}
