@*@model IList<Picture>*@
    @model IEnumerable<Picture>
@{

    ViewData["Title"] = "Konstnärer";

}

<div class="text-center">
    <h1 class="display-4">Välkommen till svenska konstnärer</h1>
</div>

@foreach (var picture in Model.OrderBy(p => p.Id))
{
     <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Detail">

            <button type="submit" name="picId" value="@picture.Id">
            <img class="img-thumbnail" src="@String.Format("data:image/png;base64,{0}",Convert.ToBase64String(picture.ImageFile))" />
            </button>
    </form>
    
}
</div>
