@*@model IList<Picture>*@
    @model IEnumerable<Picture>
@{
    ViewData["Title"] = "Konstnärer.se";
    var loginInfo = ViewData["user"] as UserLogin;

}


    <h1 class="text-center">Välkommen till svenska konstnärer</h1>


@foreach (var picture in Model.OrderByDescending(p => p.UploadDate))
{
    <div class="card d-inline-flex" style="width: 18rem;">
      
    
     <form method="post" asp-controller="Home" asp-action="Detail">

            <button class="card-img-top" type="submit" name="picId" value="@picture.Id">
            <img class="img-thumbnail" src="@String.Format("data:image/png;base64,{0}",Convert.ToBase64String(picture.ImageFile))" />
            
            <div class="card-body">
                <h5 class="card-title">@picture.PictureName</h5>
                <p class="card-text">@picture.Description</p>
            </div>
            </button>
    </form>

    </div>

    
}
