@model User

@using (Html.BeginForm("RequestNewPassword", "Validate", FormMethod.Post))
        {
        <span>Epost:</span>
        <span> <input class="form-control col-md-3" type="email" name="email" /> </span>
            <button type="submit" class="btn btn-primary">Skicka nytt lösenords begäran till e-post</button>
        }