@using Konstnarer.Models.Register;

@{
    ViewData["Title"] = "Validering klart konto har skapats och du kan logga in.";
}

<h4>Skriv in ditt nya lösenord.</h4>
@using (Html.BeginForm("Validate", "Validate", FormMethod.Post))
{
    <input type="text" name="id" value="@ViewContext.RouteData.Values["id"].ToString()" hidden>

    <button type="submit" value="Submit" class="btn btn-success">Validera</button>

}