
@{
    ViewData["Title"] = "Konstnär"+@Model.UserName;
}
<div class="align-content-end">
        <a asp-controller="Login" asp-action="Create">
            <button type="button" class="btn btn-info">Ladda up konst</button>
        </a>
    <form method="post"  asp-controller="Profile" asp-action="Index">
        <button type="submit" class="btn btn-info">Min profil
            <input type="text" value="@Model.UserId" name="userId" hidden/>
        </button>
    </form>
</div>
