@model UserLogin
@{
    ViewData["Title"] = "Konstnär"+@Model.UserName;
}
<div>
        <a asp-controller="Login" asp-action="Create">
            <button type="button" class="btn btn-info">Ladda up konst</button>
        </a>

</div>
