@model UploadImage
@{
    ViewData["Title"] = "Konstnärer.se";
}
<form method="post" enctype="multipart/form-data" asp-controller="login" asp-action="Upload">
    <dl>
        <dt>
            Ladda up Konst bild:
        </dt>
        <dt>
            <input name="files" type="file" accept="image/png, image/jpeg, image/gif, image/bmp" />
        </dt>
        <dt>
            <input type="checkbox" name="AllowComments" checked>
            <label for="AllowComments">Tillåt kommentrer</label>
        </dt>
    </dl>
    <input type="submit" value="Upload">
</form>




