<?xml version='1.0' encoding='utf-8'?>
<!--One slash\ turns into two \\-->
<configuration>
	<connectionStrings>
			<add name="Default" connectionString="Server=DESKTOP-NP9Q5EE; Database=Konstnarer; TrustServerCertificate=True; Trusted_Connection=True;"/>
			<!--  <add name="Default" connectionString="Server=https://accountmanager.quicksearch.se; Database=AccountManager; Trusted_Connection=True;"/>  -->  
		</connectionStrings>
</configuration> 